@import "bootstrap/bootstrap";

@import "clean-blog/clean-blog";
@import "//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic";

body {
  overflow-x: hidden;
}

.intro-header .post-heading .meta a, article a {
  text-decoration:underline;
}
nav {
  background: #3c3c3c;
}
h2 {
  padding-top: 22px;
}

h3 {
  padding-top:15px;
}

h2 + p, h3 + p, h4 + p{
  margin-top:5px;
}

//adjust the positon of captions
.caption-title {
  margin-bottom: 5px;
}
.caption-title + p {
  margin-top: 0px;
}

dt {
  margin-bottom: 5px;

}

dd {
  margin-left: 30px;
  margin-bottom: 10px;
}

#nav {
  -webkit-border-radius: 0px;
  -moz-border-radius:  0px;
  border-radius:  0px;
}